* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

#root {
  padding: 20px;
}

.game {
  display: flex;
  max-width: calc(100vh - 300px);
  width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.game__panel {
  width: 100%;
}

.game__board {
  position: relative;
}

.game__end-overlay {
  position: absolute;
  top: -1px;
  left: 0;
  right: -1px;
  bottom: -1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.game__btn-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.game__log {
  margin-top: 30px;
}

.game__log-title {
  font-size: 18px;
  font-weight: 700;
}

.game__status {
  height: 40px;
  margin-bottom: 10px;
}

.game__status-text {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.game__status-text span {
  display: inline-block;
  width: 1ch;
  margin-left: 10px;
  font-size: 28px;
  font-weight: 700;
}

.game__log-title {
  margin-bottom: 20px;
  text-align: center;
}

.game-board {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game-info {
  margin-left: 20px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #999;
  cursor: pointer;
}

.square--highlight {
  transition: background-color 0.5s 0.5s;
  background-color: greenyellow;
}

.square:focus {
  outline: none;
}

.x-line {
  animation: x-anim 0.4s;
}

.zero {
  animation: zero-anim 0.4s;
}

.restart-game {
  padding: 10px 15px;
  background-color: fuchsia;
  font-size: 20px;
  font-weight: 700;
}

.moves-list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 10px;
  list-style: none;
}

.moves-list__btn {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: fuchsia;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 700;
}

@keyframes x-anim {
  from {
    stroke-dasharray: 0 30;
  }
  to {
    stroke-dasharray: 30 0;
  }
}

@keyframes zero-anim {
  from {
    stroke-dasharray: 0 60;
  }
  to {
    stroke-dasharray: 60 0;
  }
}